/*.element {
-webkit-animation: KEYFRAME-NAME 2s infinite;
-moz-animation:    KEYFRAME-NAME 5s infinite;
-o-animation:      KEYFRAME-NAME 5s infinite;
animation:         KEYFRAME-NAME 5s infinite;
}*/

.site-header {
    top: 10px;
    right: 0;
    left: 0;
    z-index: 500;
}

// ------------- NAV BAR -------------//
.navbar-default,
.navbar-fixed-top {
    transition: all 1s;
}
.navbar-brand {
    padding: 10px 5px 0 5px;
}
.navbar-fixed-top {
    background-color: fade(#fff, 95);
}


.imgd-destacados {
    background-color: lighten(@vision-azul-base, 60);
    padding: 16px 0;
}

// --------- CARROUSEL 
#carrousel-bootstrap {
    margin-bottom: (@line-height-computed / 2);
}
.carousel{
    color: white;
    h1,h2,h3,h4 {color:white;}
}

// --------- Noticias Destacadas
.newsfeature {

    article {
        position: relative;

        @media screen and (min-width: @screen-sm-min) {
            header.destacados-caption {
                max-height: 90px;
                .destacados-caption-texto {
                    display: block;
                }
            }
        }

        header.destacados-caption {
            transition: all .5s;
            position: absolute;
            bottom: 0;
            background: lighten(spin(@vision-azul-base, 180), 15);
            padding: 10px;
            min-width: 100%;
            max-height: 45px;
            overflow: hidden;
            font-size: 12px;
            color: white;
            a {
                color: white;
            }
            h3 {
                font-size: 20px;
            }

            .destacados-caption-texto {
                display: none;
                padding-bottom: 10px;
            }
            // Scale up controls for tablets and up
            
            
            &:hover {
                max-height: 90px;
                .destacados-caption-texto {
                    display: block;
                }
            }
        }
    }
}

.wp-post-image {
    .img-responsive();
    margin-bottom: 20px;
}
.more-link{
    .btn;

}

.page-header {
    margin-top: 0;
    .page-title {
        margin-top: 0;
    }
}


/** Comentarios */

.comment-form-author,
.comment-form-email,
.comment-form-url {
    width: 50%;
}



.image-thumbnail {
    margin-bottom: (@line-height-computed / 2);
}

.well {
    color: @color-fondo;
    font-size: 12px;
}

.modal {
    color: @color-fondo;
    h4 {
        color: @color-fondo;
    }
}

.widget-area {
    padding-top: 30px;
}

.widget-title {
    font-size: 18px;
}

.calendar-table {
    .table();
}

.thumbnail {
    border: none;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

// Ultimas novedades
.tres-columnas {
    background-color: @gray-lighter;
}

.ultimas {
    border-bottom: 1px solid @gray-light;
    min-height: 70px;
    //margin: 6px 0;
    &:last-child {
        border-bottom: none;
    }
    .clearfix();
    img {
        float: left;
        margin-right: 10px;
    }
    /*h4 {
        margin-bottom: 3px;
    }
    p {
        margin-bottom: 5px;
    }
    .entry-content {
        margin-top: .5em;
    }
    */
}

.entry-header{
    .entry-meta{
        text-align: right;
        .byline{
            font-weight: bold;
        }
    }

}

//------------- FOOTER ----------//
.wrapfooter {
    background-color: @footer-background-color;
    padding: 20px 0;
    border-top: @footer-border-size solid @footer-border-color;
    color: @footer-text-color;
    margin-top: @footer-margin-top;

    h2 {
        color: darken(@footer-text-color,50);
    }

    .site-footer {
        ul{.list-unstyled;}
        a {
            color: @footer-link-color;
        }
        .site-info {
            text-align: center;
            font-size: 10px;
        }
    }
}

.credits {
    font-size: 11px;
    text-align: center;
    color: @gray-darker;
    a{
       color: @gray-light;
        &:hover{color:@gray-lighter;}
    }
}

// ---------------- Boton To the Top
#totop {
    color: fade(@white, 40%);
    background-color: fade(darken(@brand-primary, 30), 20%);
    position: fixed;
    display: none;
    outline: none;
    right: 15px;
    bottom: 15px;
    border-color: fade(darken(@brand-primary, 30), 20%);
    &:hover {
        color: @white;
        background-color: fade(darken(@brand-primary, 25), 70%);
    }
    @media (min-width: @screen-md-min) {
        right: 40px;
        bottom: 40px;
    }
}